body{
    background-image: url(../images/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}

.div-container{
    background-color: rgba(0, 0, 0, .4);
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .4);
}

a{
    color: white;
    text-decoration-line: none;
}

a:hover{
    color: rgb(231, 247, 248)
}

.a-olvide{
    font-size: 14px;
}

.a-registrar{
    font-size: 28px;
    font-weight: bold;
}

.form-control{
    background-color: rgba(255, 255, 255, .6);
}

.form-control::placeholder{
    color: rgb(64, 60, 60);
}

.form-control:focus{
    background-color: rgba(255, 255, 255, .8);
}

.div-btn{
    border-radius: 10px;
}